{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}	
	<link href="{{ asset('bundles/estokinpanel/css/style.css') }}" type="text/css" rel="stylesheet" />		
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/estokinpanel/js/jquery.tools.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/estokinpanel/js/Search.js') }}"></script>
	
{% endblock %}

{% block headbar %}

	<ul class="breadcrumb">
		<li>
			<a href={{ path("item") }}>
				<i class="radmin-icon radmin-home"></i>
				Inicio
			</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href={{ path("item") }}>
				<i class="radmin-icon radmin-basket"></i>
				Productos
			</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<i class="radmin-icon radmin-cart"></i>
			En venta
		</li>
	</ul>
		{{ parent() }}
		
{% endblock %}

{% block body %}

	<h4 class="title">Productos en venta</h4>	
	<div class="squiggly-border"></div>
	
	<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">×</button>Puedes filtrar los productos dinámicamente para encontrar el que buscas. Elige el campo y escribe lo que quieras.</div>
	<div class="row pull-right">
		<small class="span3">Campo a filtrar</small>
		<small class="span3">Palabra a filtrar</small>
	</div><br>
	<div class="row pull-right">
		<div class="span3">
			<select id="field-select">
				<option value="t_content1">Producto</option>
				<option value="t_content4">Referencia propia</option>
				<option value="t_content2">Atributos</option>
				<option value="t_content3">Categoria</option>
{# 				<option value="t_content5">Precio</option> #}
			</select>
		</div>
		<div id="search" class="span3"></div>
	</div><br>
	
	<table id="stable" class="table table-striped table-bordered table-radmin tablesorter">
		<thead>
	    	<tr>
	            <th>Producto</th>
	            <th>Atributos</th>
	            <th>Categoria</th>
	            <th>{{ app.user.getRoles()[0] == 'ROLE_ADMIN' ? 'Tienda' : 'Tu referencia' }}</th>
	            <th>Unidades</th>
	            <th>Precio</th>
	            <th>Estado</th>
	            <th>Acciones</th>
	            {% if app.user.getRoles()[0] == 'ROLE_ADMIN' %}
	            <th>Admin</th>
	            {% endif %}
	    	</tr>
		</thead>
		<tbody>	    	
	    	{% for entity in entities %}
	    	
	        <tr>
	            <td class="t_content1">
	            	<a href="{{ path('item_show', { 'id': entity.id }) }}">
	            		{{ entity.product.bigname }}
	            	</a>
	            </td>
	            <td class="t_content2">
	            	{{ entity.comment }}
	            </td>

{#
	            <td class="t_content2">({% for a in entity.attr %}
	            			{{ a.attrset.name }} {{ a.value }}
	            			{{ loop.last ? '' : ',' }}
	            		{% endfor %})
	            </td>
#}
	            <td class="t_content3">{{ entity.product.category }}</td>
	            <td class="t_content4">{{ app.user.getRoles()[0] == 'ROLE_ADMIN' ? entity.shop : entity.shopreference }}</td>
	            <td><span style="position:relative; top:3px;">{{ entity.stock }}</span> 
	            	 <a style="float:right" class="modalInput" href="#promptS{{ entity.id }}" data-toggle="modal"><i class="icon-radmin radmin-menu"></i></a>
	            </td>	
	            <td class="t_content5">{{ entity.price }} &#128;</td>
<!-- 	            <td>{% if entity.dateadd %}{{ entity.dateadd|date('d-m-Y') }}{% endif%}</td> -->
	            <td>{{ entity.state == 'STATE_ONLINE' ? '<span class="label label-success">en venta</span>' : '<span class="label label-warning">en espera</span>' }}</td>
	            <td class="table-actions" style="border-left: solid 2px #ddd">
	            	{% if entity.state == 'STATE_RAW' %}
		            	<a class="modalInput" href="#promptE{{ entity.id }}" data-toggle="modal">
		            		<button id={{ entity.id }} class="edit_but btn btn-mini btn-info" title="Editar item">Editar</button> 
		            	</a>
		            {% else %}
		            	<button class="btn btn-mini btn-info disabled" title="Item no editable" data-toggle="popover" data-placement="left" 
		            			data-content="Si los datos son incorrectos, retira el item y añade otro con el mismo producto" 
		            			title="" data-original-title="Item no editable">Editar</button>	            	
		            {% endif %}
	            	<button class="delete_but btn btn-mini btn-danger" title="Retirar item" onClick="deleteItem($(this),'{{ path('item_delete', { 'id': entity.getId() }) }}', '{{ entity.product.bigname }}')"> Retirar</button>
	            </td>
	            {% if app.user.getRoles()[0] == 'ROLE_ADMIN' %}
	            <td>
	            	<form action="{{ path('item_sell', { 'id': entity.id }) }}" method="post">
	            		<input type="hidden" id="form_id" name="product" value={{ entity.id }}>
	            		<input type="number" name="quantity" value=1 />
		            	<button id={{ entity.id }} class="edit_but btn btn-mini btn-success" title="Editar item">Vendido</button> 
		        	</form>
	            </td>
	            {% endif %}
	        </tr>			        
		    	
    	{% endfor %}
    	</tbody>
	</table>
	<a href="{{ path('item_new') }}">
		<button class="btn btn-info" type="button">
			<i class="icon-plus icon-white"></i>
			Producto nuevo
		</button>
	</a>
		 
	</div>
	{% for entity in entities %}
		
		<!-- Modify item stock form --> 
		<div id="promptS{{ entity.id }}" class="modal hide fade modal-stock">
			<form id={{ entity.id }} class="prompForm2" action="{{ path('item_set_stock', { 'id': entity.id }) }}" method="post">			

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Actualizar stock</h3>
				</div>
				<div class="modal-body">
			    	<p>
						Por favor, introduzca el nuevo stock para el producto <br><br>
						<strong>{{ entity.product.name }}:</strong>							
					</p>
					<input type="number" name="quantity" value={{ entity.stock }}></input>
					<br><br>
				</div>
				<div class="modal-footer">
			    	<button type="button" class="btn" data-dismiss="modal" aria-hidden="true"> Cancelar </button>
			    	<button type="submit" class="btn btn-primary">Actualizar</button>
			    </div>
			</form>
		</div>
		
		<!-- Edit item form  -->
		<div id="promptE{{ entity.id }}" class="modal hide fade modal-stock">
			<form id={{ entity.id }} class="prompForm2 form-horizontal" action="{{ path('item_fastupdate', { 'id': entity.id }) }}" method="post">			

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Editar producto</h3>
				</div>
				<div class="modal-body">
					<label>Tu referencia</label>
					<input type="text" name="shopreference" value={{ entity.shopreference }}></input>
					<label>Precio</label>
					<input type="number" name="price" value={{ entity.price }}></input>
					<label>Notifica aquí cualquier otro cambio que quieras realizar sobre el producto</label>
					<textarea name="comment"></textarea>
					<br><br>
				</div>
				<div class="modal-footer">
			    	<button type="button" class="btn" data-dismiss="modal" aria-hidden="true"> Cancelar </button>
			    	<button type="submit" class="btn btn-primary">Actualizar</button>
			    </div>
			</form>
		</div>
	{% endfor %}
{% endblock %}

{% block footbar %}
	<p>&nbsp;</p>
{% endblock %}
{% block javascript_code %}

		//Toggle menu 
		$(function() {
			$("#navigation-products").attr('class', 'active');
			$("#navigation-products .accordion-body").attr('class', 'in')
		});

		//sort table
		$(document).ready(function() 
	    { 
	        $("#stable").tablesorter(); 
	    }); 

		//Search feature
		var api;
		var listclass = '.t_content1';
		$(document).ready(function() {	  
		  api = new $.Search('#search', {
		    list: listclass,
		    table: true
		  });	  
		});
		$('#field-select').change(function() {
			listclass = "."+this.value;
			  $('#search form').remove();	  
			  api = new $.Search('#search', {
			    list: listclass,
			    table: true
			  });	  
		});
				
		$(function() {  
			$(".edit_but").click(function(e){
				console.log(e.currentTarget.id);
			});
						
			$(".disabled").popover();
		});			

		//Ajax for delete
	    function deleteItem(el,path,name){
	    	if(confirm("¿Estas seguro que quieres retirar el "+name+"?")) {
		         dataContent = {action: "delete"};
		         var parent = el.closest('tr'); 
		         $.ajax({
		 	        type: "POST",
		 	        url: path,
		 	        data: dataContent ,
		 	        dataType: "json",
		 	       	beforeSend: function() {
		               parent.animate({'backgroundColor':'#fb6c6c'},300);
		           	},
		           	success: function() {
		               parent.slideUp(300,function() {
		                   parent.remove();
		               });
		           	}
		 		}); 
		 	}
	 	};
	 	
{% endblock %}









