<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Estokin Panel</title>
<link href="{{ asset('bundles/estokinpanel/css/styleLogin.css') }}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ asset('bundles/estokinpanel/js/jquery-1.7.1.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/estokinpanel/js/jquery.animate.js') }}"></script>

</head>
<body>

<div class="pack">
<a href="http://www.estokin.com"><img class="logo" src="{{ asset('bundles/estokinpanel/img/logoS.png') }}"></img></a>	
<div class="modal-login">
	  <div class="modal-body">
		  <form class="modal-form" action="{{ path('login_check') }}" method="POST" autocomplete="off">        
			  <div class="special-login">
			      <input type="text" class="inputup" name="_username" placeholder="Usuario">

			      <input id="input-password" type="password" class="inputdown" name="_password" placeholder="Contraseña">
			      <input type="hidden" name="_target_path" value="/" /><br>
			  </div>
			  <div class="options">
			  	<img id="login-toggle0" src="{{ asset('bundles/estokinpanel/img/icon-toggle0.png') }}" style="display:none;"></img>
			  	<img id="login-toggle1" src="{{ asset('bundles/estokinpanel/img/icon-toggle1.png') }}"></img> 
<!-- 			  	¿La olvidaste? -->
				&nbsp;
			  </div>
			  <div>
	  		      <button type="submit" class="btn">Iniciar sesión</button>

			  </div>         
		  </form>
	</div>
</div>
</div>

</body>
<script>
	$('#login-toggle0').click(function() {    	
		$('#login-toggle1').toggle();
		$('#login-toggle0').toggle();
		$('#input-password').get(0).type="password";
	});
	$('#login-toggle1').click(function() {    	
		$('#login-toggle1').toggle();
		$('#login-toggle0').toggle();
		$('#input-password').get(0).type="text";
	});
</script>
</html>
