{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}	
	<link href="{{ asset('bundles/estokinpanel/css/style.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('bundles/estokinpanel/css/formee-style.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('bundles/estokinpanel/css/formee-structure.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block headbar %}
	<h1>Usuarios</h1>
	<h2>&rarr; Nuevo</h2>
{% endblock %}

{% block body %}

<div id = "content_header">
	<h2>User creation</h2>
</div>
	
<div id="content_box">
		
		{% if errors is defined%}
		<div class="formee-msg-error">
	    	Can you fix please?
	        <ul>
	        	{% for er in errors %}
	        		<li>error {{ er }}</li>
	        	{% endfor %}
	        </ul>
	    </div>
	{% endif %}
		<div class="grid-10-12">	
		<form action="{{ path('user_create') }}" method="post" class="formee" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <br><br>
		    <p>
		        <button type="submit">Create</button>
		    </p>
		</form>
		</div>
	<div class="grid-2-12">
		<table class="message_toolbar">
        <tr>
			<th><a href="{{ path('user') }}"><img class="sel" src="{{ asset('bundles/estokinpanel/images/icon-back.png') }}"></img></a></th>
        </tr>
        <tr>
        	<td><label>atras</label></td>
        </tr>
    	</table>
	</div>
	<div class="clear"></div>
</div>
{% endblock %}
{% block javascript_code %}
	<script type="text/javascript">
	$(function() {
		$("#nav6").attr('class', 'selected');
		$("#nav62").attr('class', 'current');
		$('div.sidebar_nav:eq(0) > div:eq(4)').show();	
	});
	</script>
{% endblock %}
