{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}	
	<link href="{{ asset('bundles/estokinpanel/css/style.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('bundles/estokinpanel/css/formee-style.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('bundles/estokinpanel/css/formee-structure.css') }}" type="text/css" rel="stylesheet" />{% endblock %}

{% block headbar %}
	<ul class="breadcrumb">
		<li>
			<a href={{ path("item") }}>
				<i class="radmin-icon radmin-home"></i>
				Inicio
			</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href={{ path("shop") }}>
				<i class="radmin-icon radmin-basket"></i>
				Tiendas
			</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<i class="radmin-icon radmin-pencil"></i>
			Editar
		</li>
	</ul>
		{{ parent() }}
{% endblock %}

{% block body %}

	<h4 class="title">Editar tienda</h4>
	<div class="squiggly-border"></div>
	
	<div class="span7">
		
		<form action="{{ path('shop_update', { 'id': entity.id }) }}" method="post" class="formee" {{ form_enctype(edit_form) }}>
	    {{ form_widget(edit_form) }}
    	<br>
    	
    	<div class="row">
			<div class="span1"><button class="btn btn-warning" type="submit">Guardar</button></div>
	    </form>
	    
			
		</div>
	</div>
	<div class="span1">
		<form action="{{ path('shop_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Eliminar</button>
		</form>
	</div>
	<div class="span1"><a href="{{ path('shop') }}"><button class="btn btn-info">Atrás</button></a></div>

{% endblock %}
{% block javascript_code %}
		//Toggle menu 
		$(function() {
			$("#navigation-admin").attr('class', 'active');
			$("#navigation-admin .accordion-body").attr('class', 'in')
		});
{% endblock %}    
