{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}	
	<link href="{{ asset('bundles/estokinpanel/css/style.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('bundles/estokinpanel/css/formee-style.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('bundles/estokinpanel/css/formee-structure.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}	
	<script language="javascript" type="text/javascript" src="{{ asset('bundles/estokinpanel/js/formee.js') }}"></script>
{% endblock %}

{% block headbar %}
	<h1>Creación de producto</h1>
	<h2>Introduce la información básica del producto</h2>
{% endblock %}

{% block body %}

	<div id = "content_header">
			<h2>Producto nuevo</h2>
	</div>

	<div id="content_box">
		
		{% if errors is defined%}
			<div class="formee-msg-error">
		    	El formulario contiene errores.
		        <ul>
		        	{% for er in errors %}
		        		<li>error {{ er }}</li>
		        	{% endfor %}
		        </ul>
		    </div>
		{% endif %}
		
		<form action="{{ path('product_create') }}" method="post" class="formee" {{ form_enctype(form) }}>

				<div class="grid-12-12">
			    	<label>Producto</label>
		    		<div class="small">{{ form_widget(form.name) }}</div>
			    	{{ form_errors(form.name) }}
				</div>
				<div class="grid-12-12">
			    	<label>Código EAN/UPC</label>
		    		<div class="small">{{ form_widget(form.code) }}</div>
			    	{{ form_errors(form.code) }}
	    		</div>
	    		<div class="grid-4-12">
			    	<label>Categoría</label>
		    		{{ form_widget(form.category) }}
			    	{{ form_errors(form.category) }}
	    		</div>
	    		
	    		<div class="grid-12-12">
			    	<label>Descripción</label>
		    		{{ form_widget(form.description) }}
			    	{{ form_errors(form.description) }}
		    	</div>	
	
			    <div class="grid-7-12">
			    	<label>Precio</label>
		    		<div class="small">{{ form_widget(form.price) }}</div>
			    	{{ form_errors(form.price) }}
		    	</div>
		    	
			    <div class="grid-7-12">
			    	{{ form_label(form.stock) }}
		    		<div class="small">{{ form_widget(form.stock) }}</div>
			    	{{ form_errors(form.stock) }}
	    		</div>

				<div {{ user.isShop() ? 'style="display:none;"' : '' }} class="grid-6-12">{{ form_rest(form) }}</div>
				<div class="grid-12-12">
				</div>
				<div class="grid-12-12">
		        	<input type="submit"></input>
		    	</div>
		</form>

	</div>
{% endblock %}
{%  block javascript_code %}
<script>
$(function() {
	$("#nav1").attr('class', 'selected');
	$("#nav14").attr('class', 'current');
	$('div.sidebar_nav:eq(0) > div:eq(0)').show();	
});
</script>
{% endblock %}